
.h2num1 {
    padding: 30px;
    text-align: center;
    font-size: 40px;
}

.columndiv {
    display: grid table-row;
}
.button-quote {
    background-color: #28e451;
    border: thin;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.numbers{
    background-color: #dae90a;
    border: thin;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    margin: 24px 2px;
    cursor: pointer;
    width: fit-content;
}
.active {
    width: fit-content;
    height: fit-content;
    float: left;
}

.categories::after {
    margin: 240px 20px;
    padding: 24px 32px;
    border: 5px solid #000000;
    content: " ";
    display: table;
    clear: both;
}

#result {
    position: relative;
    background: #d40404;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}