
.h2num1 {
    padding: 30px;
    text-align: center;
    font-size: 40px;
}


.numbers{
    border: thin;
    color: #f7f7f7;
    padding: 15px 32px;
    text-align: center;
    margin: 24px 2px;
    cursor: pointer;
    width: fit-content;
}
.active {
    width: fit-content;
    height: fit-content;
}


.categories::after {
    margin: auto;
    width: 40%;
    padding: 24px 32px;
    border: 5px solid #000000;
    display: table;
    clear: both;
}

.redcol {
    background: linear-gradient( rgb(250, 21, 21), #3b0c03);
}

.bluecol {
    background: linear-gradient(#050533, #2020d4);
}

.center {
    margin: auto;
}


